.footer-top-container {
  display: table;
  margin: 0 auto;
  min-width: 1000px;

  .inner-container {
    display: table-row;

    .col {
      display: table-cell;
      padding: 0 10px;
      line-height: 120%;
      color: #333;
      vertical-align: top;

      ul li {
        margin-bottom: 10px;
        list-style: none;
        white-space: nowrap;
        word-wrap: break-word;

        a {
          color: #ddd;
          text-decoration: none;
          white-space: normal;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.col-head {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}
