.footer-bottom-container {
  font-size: 12px;
  background-color: #131a22;
  padding: 30px 0;
  margin: 30px 0 0;
  color: #ddd;
  text-align: center;
  line-height: 18px;
  // white-space: nowrap;

  table {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    padding: 0;

    td {
      font-size: 13px;
      line-height: 120%;
      padding: 0 10px;
      // border: 1px solid white;

      a {
        color: #ddd;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;

          span {
            text-decoration: underline;
          }
        }

        span {
          color: #999;
          white-space: nowrap;
          display: inline-block;
          font-size: 12px;
          line-height: 110%;
        }
      }
    }
  }
}

.cell-spacer {
  width: 3%;
}

.table-item {
  font-size: 12px !important;
  padding: 0 0.75em !important;
  vertical-align: top;
  text-align: left;
  line-height: 115% !important;
}
