.layout {
  padding: 0 10px 0;
  position: relative;
}

.strip-container {
  padding: 0 10px;
  max-width: 1480px;
  margin: 20px auto 0;

  .inner-container {
    line-height: 20px;
    background-color: #f5f6f6;
    text-align: center;
    padding: 10px 14px;

    span {
      color: var(--text-dark);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: var(--text-link);
      cursor: pointer;
      text-align: center;
      font-size: 14px;
    }
  }
}
