.image-card-body {
  padding-bottom: 0;
  padding: 0;
  position: relative;

  a {
    text-decoration: none;

    img {
      border-radius: 4px;
      vertical-align: top;
      max-width: 100%;
      border: 0;
      width: 100%;
    }
  }
}
