nav {
  height: 45px;
  display: flex;
  overflow-x: scroll;
  padding-top: 12px;
  background: #ff7a26;
  width: 100%;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
  }

  a {
    color: #161d26;
    margin: 0 0 20px 15px;
    padding-right: 3px;
    line-height: 15px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    float: left;
    text-decoration: none;
    white-space: nowrap;
  }
}
