@use "./Navbar.scss" as c;

.tool-link {
  margin-left: 1px;
  padding-left: 9px;
  padding-bottom: 5px;
  padding: 0 9px 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  overflow: hidden;
  line-height: 44px;
  color: #d6d6d6;
  cursor: pointer;

  span {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .spacer {
      padding-bottom: 2px;
      padding-right: 8px;
      display: flex;
      align-items: center;
      height: 14px;
    }

    .line-2 {
      margin-left: 1px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      clear: both;
      white-space: nowrap;

      .down-arrow {
        @include c.nav-down-arrow();
      }
    }
  }
}

.flag {
  transform: scale(0.9);
  margin: 0 2px 1px 0;
  width: 24px;
  height: 18px;
  background-image: var(--flags-sprite);
  background-position: -0 -130px;
}
