nav {
  width: 100%;
}

.nav-top-belt {
  width: 100%;
  height: 60px;
  background: linear-gradient(92.41deg, #003d32, #04734b);
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  z-index: 5;
  line-height: 1em;
}

// Nav Left - Start
.nav-left {
  height: 60px;
  display: flex;
  width: auto;
}

.logo-container {
  margin-left: 15px;
  width: auto;
  padding-top: 4px;
  display: flex;
  height: 100%;

  a {
    display: flex;
    text-decoration: none;
    padding: 1px 8px 0 6px;
    margin: 1px;
    height: 50px;
    width: 100%;
    clear: both;
    cursor: pointer;
  }
}

.logo {
  width: 97px;
  height: 33px;
  margin-top: 11px;
  background-image: var(--sprite);
  background-position: -237px -295px;
  background-size: 350px;
  background-repeat: repeat-x;
  float: left;
  text-indent: -500px;
}

// Nav Left - End

// Nav Fill - Start
.nav-fill {
  height: 60px;
  display: flex;
  flex: 1 1 auto;
  width: auto;
  white-space: nowrap;
}
// Nav Fill - End

// Nav Right - Start
.nav-right {
  height: 60px;
  min-width: auto;
  width: auto;
}

.nav-tools {
  display: flex;
  text-decoration: none;
  margin-top: 2px;
  padding-top: 3px;
}

// Nav Right - End

// .nav-down-arrow {
//   margin: 6px 0 0 2px;
//   display: flex;
//   align-items: center;
//   border-top-color: #a7acb2;
//   border: 4px solid transparent;
//   border-top: 4px solid #a7acb2;
//   border-bottom-width: 0;
//   width: 0;
//   height: 0;
//   font-size: 0;
//   line-height: 0;
// }

@mixin nav-down-arrow($margin: 6px 0 0 2px) {
  margin: $margin;
  display: flex;
  align-items: center;
  border-top-color: #a7acb2;
  border: 4px solid transparent;
  border-top: 4px solid #a7acb2;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
