nav {
  min-width: 1000px;
  max-width: none;
  width: 100%;
}

.nav-top-belt {
  width: 100%;
  height: 60px;
  background: linear-gradient(92.41deg, #003d32, #04734b);
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  z-index: 5;
  line-height: 1em;
}

// Nav Left - Start
.nav-left {
  height: 60px;
  display: flex;
  width: auto;
}

.logo-container {
  margin-left: 1px;
  width: auto;
  padding-top: 4px;
  display: flex;
  height: 100%;

  @media (min-width: 1100px) {
    margin-left: 11px;
  }

  @media (min-width: 1700px) {
    margin-left: 15px;
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 1px 2px 0 6px;
    margin: 1px;
    height: 50px;
    width: 100%;
    clear: both;
    cursor: pointer;

    @media (min-width: 1100px) {
      padding-right: 4px;
    }

    @media (min-width: 1700px) {
      padding-right: 8px;
    }
  }
}

.logo {
  width: 97px;
  height: 33px;
  margin-top: 11px;
  background-image: var(--sprite);
  background-position: -237px -295px;
  background-size: 350px;
  background-repeat: repeat-x;
  float: left;
  text-indent: -500px;
}

// Nav Left - End

// Nav Fill - Start
.nav-fill {
  height: 60px;
  display: flex;
  flex: 1 1 auto;
  width: auto;
  white-space: nowrap;
}
// Nav Fill - End

// Nav Right - Start
.nav-right {
  height: 60px;
  min-width: auto;
  width: auto;
}

.nav-tools {
  display: flex;
  text-decoration: none;
  margin-top: 2px;
  padding-top: 3px;
}

// Nav Right - End

// .nav-down-arrow {
//   margin: 6px 0 0 2px;
//   display: flex;
//   align-items: center;
//   border-top-color: #a7acb2;
//   border: 4px solid transparent;
//   border-top: 4px solid #a7acb2;
//   border-bottom-width: 0;
//   width: 0;
//   height: 0;
//   font-size: 0;
//   line-height: 0;
// }

@mixin nav-down-arrow($margin: 6px 0 0 2px) {
  margin: $margin;
  display: flex;
  align-items: center;
  border-top-color: #a7acb2;
  border: 4px solid transparent;
  border-top: 4px solid #a7acb2;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

// Nav bottom belt
.nav-bottom-belt {
  // TODO: media queries
  padding-left: 1px;
  min-height: 39px;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--green-200);
  width: 100%;
  z-index: 4;

  @media (min-width: 1100px) {
    padding-left: 11px;
  }

  @media (min-width: 1700px) {
    padding-left: 15px;
  }
}

.nav-bottom-left {
  max-height: 39px;
  display: flex;
  width: auto;

  .menu {
    // TODO: media queries
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    text-decoration: none;
    padding: 8px 9px;
    font-size: 25px;
    color: var(--text-white);
    border-radius: 3px;
    cursor: pointer;

    // @media (min-width: ) {
    //

    @media (min-width: 1700px) {
      margin-right: 3px;
    }

    i {
      width: 17px;
      height: 14px;
      background-position: -172px -255px;
      background-image: var(--sprite);
      background-size: 350px;
      background-repeat: repeat-x;
    }

    span {
      font-weight: 700;
      font-size: 14px;
      padding-left: 5px;
      white-space: nowrap;
      line-height: 12px;
      color: var(--text-light);
    }
  }
}

.nav-bottom-fill {
  max-height: 39px;
  display: flex;
  flex: 1 1 auto;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
