.native-section {
  font-size: 15px;
}

.message-outer-container {
  margin: 5px 0;
}

.message-container {
  height: 83px;
  max-width: 414px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.message-inner-container {
  position: absolute;
  width: 414px;
  margin: 0 auto;
  bottom: 0;
  left: -200%;
  right: -200%;
  text-align: center;
  top: 0;

  a {
    text-decoration: none;

    img {
      vertical-align: top;
      max-width: 100%;
    }
  }
}

.end-strip {
  color: #555;
  display: flex;
  font-size: 13px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  justify-content: space-between;
  align-items: center;

  div {
    flex: 1;
    background: #879596;
    height: 1px;

    // &::before {
    //   content: "";
    //   border-top: 1px solid #879596;
    //   bottom: 0;
    //   position: absolute;
    //   right: 0;
    //   top: 50%;
    //   z-index: -1;
    // }
  }

  span {
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    line-height: 1.35;
  }
}
