.grid-layout-container {
  margin: 2px 0;
  background-color: #ffffff;
  overflow: auto;
  padding: 12px 15px;
}

.title-container {
  padding-bottom: 8px;
  // overflow: hidden;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3em;
    max-height: 2.6em;
    word-break: normal;
    position: relative;
    width: 100%;
    white-space: normal;
  }
}

.grid-layout-body {
  position: relative;
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.grid-body-item-container {
  text-decoration: none;

  img {
    width: 100%;
    border-radius: 4px;
    vertical-align: top;
    max-width: 100%;
  }
}

.grid-body-item-label {
  color: #0f1111;
  line-height: 1.3em;
  max-height: 2.6em;
  word-break: normal;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: normal;
  font-size: 15px;
}

.grid-layout-footer {
  padding-top: 13px;
  font-weight: 400;

  a {
    line-height: 19.5px;
    max-height: 19.5px;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

    span {
      font-size: 15px;
      height: auto;
      width: 100%;
      white-space: normal;
      display: inline-block;
      color: var(--text-link);
    }
  }
}
