:root {
  // Colors
  --green-100: #04734b;
  --green-200: #085749;
  --purple: #a9176f;
  --purple-hover: #7f1153;
  --orange: #ff6200;
  --text-dark: #0f1111;
  --text-light: #ffffff;
  --text-light-muted: #cccccc;
  --text-link: #007185;
  --text-link-hover: #c7511f;

  // FIles
  --sprite: url("/sprites.png");
  --flags-sprite: url("/flags-sprite.png");
}

@font-face {
  font-family: "AmazonEmber";
  src: url("./assets/fonts/Amazon-Ember-Regular.woff2") format("woff2");
  font-weight: 400;
}

// @font-face {
//   font-family: "AmazonEmber";
//   src: url("./assets/fonts/AmazonEmber_Th.ttf") format("ttf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "AmazonEmber";
//   src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("ttf");
//   font-weight: normal;
// }

@font-face {
  font-family: "AmazonEmber";
  src: url("./assets/fonts/Amazon-Ember-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "AmazonEmber";
  src: url(./assets/fonts/AmazonEmber_Bd.ttf);
  font-weight: 700;
}

// @font-face {
//   font-family: "AmazonEmber";
//   src: url(./assets/fonts/AmazonEmber_He.ttf);
//   font-weight: 900;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AmazonEmber", sans-serif;
}

body {
  color: var(--text-dark);
  background: #e3e6e6;
  font-size: 14px;
  line-height: 20px;
}

.hidden {
  display: none;
}

// Card
.card-container {
  max-width: 400px;
  display: block;
  height: 420px;
  min-height: 420px;
  flex: 1 0 290px;
  padding: 0 10px;
  min-width: 290px;
  // order: 2;

  .inner-container {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 15px 0;
  }
}

.v-spacer-20 {
  display: block;
  height: 20px;
  flex: 1 0 100%;
}

.v-spacer-22 {
  display: block;
  height: 22px;
  flex: 1 0 100%;
}

.bg-white {
  background-color: #ffffff;
}
