:root {
  // Colors
  --green-100: #04734b;
  --green-200: #085749;
  --purple: #a9176f;
  --purple-hover: #7f1153;
  --orange: #ff6200;
  --text-dark: #0f1111;
  --text-light: #ffffff;
  --text-light-muted: #cccccc;
  --text-link: #007185;
  --text-link-hover: #c7511f;

  // FIles
  --sprite: url("/sprites.png");
  --sprite-sm: url("/sprite-sm.png");
  --sprite-native: url("/sprite-native.png");
  --flags-sprite: url("/flags-sprite.png");
}

@font-face {
  font-family: "AmazonEmber";
  src: url("./assets/fonts/Amazon-Ember-Regular.woff2") format("woff2");
  font-weight: 400;
}

// @font-face {
//   font-family: "AmazonEmber";
//   src: url("./assets/fonts/AmazonEmber_Th.ttf") format("ttf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "AmazonEmber";
//   src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("ttf");
//   font-weight: normal;
// }

@font-face {
  font-family: "AmazonEmber";
  src: url("./assets/fonts/Amazon-Ember-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "AmazonEmber";
  src: url(./assets/fonts/AmazonEmber_Bd.ttf);
  font-weight: 700;
}

// @font-face {
//   font-family: "AmazonEmber";
//   src: url(./assets/fonts/AmazonEmber_He.ttf);
//   font-weight: 900;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AmazonEmber", sans-serif;
}

body {
  color: var(--text-dark);
  background: #e3e6e6;
  // line-height: 1.35;
  // font-size: 1.5em;

  line-height: 20px;
  font-size: 14px;

  // @media (min-width: 768px) {
  //   line-height: 20px;
  //   font-size: 14px;
  // }
}

.hidden {
  display: none;
}

// Card
.card-container {
  max-width: 400px;
  display: block;
  height: 420px;
  min-height: 420px;
  flex: 1 0 290px;
  padding: 0 10px;
  min-width: 290px;
  // order: 2;

  .inner-container {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 15px 0;
  }
}

// .spacer-12 {
//   width: 12px;
//   height: 100%;
// }

.v-spacer-20 {
  display: block;
  height: 20px;
  flex: 1 0 100%;
}

.only-desktop {
  display: none;
}

.only-native {
  display: inherit;
}

@media (min-width: 1238px) {
  .only-desktop {
    display: inherit;
  }

  .only-native {
    display: none;
  }
}

.v-spacer-22 {
  display: block;
  height: 22px;
  flex: 1 0 100%;
  min-width: 1000px;
}

.bg-white {
  background-color: #ffffff;
}

.col-spacer {
  display: table-cell;
  padding: 0 10px;
  width: 10%;
}

// Card UIs
.native-card-container {
  margin: 5px 0;
  background-color: #ffffff;
  overflow: auto;
  padding: 12px 15px;
}

.native-title-container {
  padding-bottom: 8px;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
  }
}

.native-title-inner-container {
  line-height: 1.3em;
  max-height: 2.6em;
  display: block;
  word-break: normal;
  position: relative;
  width: 100%;
  overflow: hidden;

  span {
    height: auto;
    display: inline-block;
    width: 100%;
    white-space: normal;
  }
}

.native-card-footer {
  padding: 0;
  padding-top: 13px;
  font-weight: 400;

  a {
    text-decoration: none;
    color: var(--text-link);
  }
}

.native-footer-text-container {
  line-height: 1.3em;
  max-height: 1.3em;
  display: block;
  word-break: normal;
  position: relative;
  width: 100%;
  overflow: hidden;

  span {
    height: auto;
    display: inline-block;
    width: 100%;
    white-space: normal;
  }
}
